body {
	height: 100%;
	width: 100%;
	margin: 0;
	background-image: url('bg.png');
	color: white;
	font-family: 'Baloo Tammudu', cursive;
}
body::-webkit-scrollbar {
    width: 0.6em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: white;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #C3DD34;
  outline: 1px solid slategrey;
}

#title {
	font-weight: bolder;
	color: white;
	font-size: 30px;
	line-height: 26px;
	margin-top: 20px;
	text-shadow: 0px 0px 3px black;
	font-family: 'Baloo Tammudu', cursive;
}
.glow {
-webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  color: #fff;
  -webkit-animation: neon 0.9s ease-in-out infinite alternate;
  -moz-animation: neon 0.9s ease-in-out infinite alternate;
  animation: neon 0.9s ease-in-out infinite alternate;
}
.glow:hover {
	color: white;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}

@-webkit-keyframes neon {
  from {
  	/*color: #ff0080;*/
    text-shadow: 0px 0px 3px black;
  }
  to {
    color: #FF1177;
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #fff, 0 0 75px #ff0080;
  }
}


/*-------------------------------------------------------------*/
.navbar-light .navbar-toggler {
    border-radius: 4px;
    height: 50px;
    width: 100%;
    margin-top: 0px;
    background-color: rgba(227, 74, 82, 1);
    border: solid 1px rgba(255, 255, 255, 1);
    margin-bottom: 10px;  
}
.navbar-light .navbar-toggler-icon {
	background-image: url('https://benefits.fccps.org/images/menu.png');
	height: 20px;
	width: 20px;
}
.nav-link {
	border-radius: 4px;
	height: 50px;
	background-color: rgba(227, 74, 82, 1);
	margin-bottom: 10px;
	color: white;
	text-align: center;
	font-weight: bolder;
	opacity: 0.8;
	border: solid 1px rgba(255, 255, 255, 1);
	margin-right: 5px;
	margin-left: 5px;
}
.down{
	color: white;
	padding-top: 10px;
	font-size: 20px;
	/*font-family: "anton", serif;*/
	font-weight: bolder;
}
.down::after, .down.active{
	color: black;
}
.down:hover{
	color: black;
}
/*-------------------------------------------------------------*/
.carousel {
	margin-left: 6%;
	margin-right: 6%;
	margin-top: 2%;
	border: 9px solid white;
	border-bottom: none;
}

.carousel-indicators li.active {
	background-color: #EC334D;
}
/*-------------------------------------------------------------*/
#wrapper {
	margin: 100px auto;
}
/*-------------------------------------------------------------*/
.get-in-shape {
	border: 9px solid white;
	margin-top: 0;
}
#head {
	font-weight: bold;
	font-size: 30px;
	line-height: 27px;
	text-shadow: 0px 0px 3.5px black;
}
#quotes {
	color: #C3DD34;
	font-size: 25px;
	/*font-weight: bold;*/
	font-family: lobster, sans-serif;
}
#quote {
	/*font: normal normal normal 15px/1.4em verdana,geneva,sans-serif;*/
	font-size: 22px;
	font-family: lobster, sans-serif;
	line-height: 22px;
}

.partition {
	border-top: 9px solid white;
}
/*-------------------------------------------------------------*/
.name {
	border: 9px solid white;
	margin-bottom: 15%;
}
#details {
	font: normal normal normal 17px/1.4em verdana,geneva,sans-serif;
	font-style: italic;
}

.btn {
	color: #E34A52;
	/*font: normal normal normal 18px/1.4em verdana,geneva,sans-serif;*/
	background-color: white;
	padding: 5px;
	cursor: pointer;
}
.btn-primary {
	border:none;
}
.btn:focus{
	box-shadow: none;
	border:none;
}
.btn:hover {
	color: white;
	background-color: #E34A52;
}

.modal {
	color: black;
}

.modal-header {
	background-color: black;
}
#exampleModalLongTitle {
	color: white;
	font-size: 24px;
	font-family: lobster, sans-serif;
}
#glow {
	color: #E34A52;
	font-size: 24px;
	text-align: center;
}
.close {
	color: white;
} 
.close:hover {
	color: #E34A52;
}
.modal-bg {
	background-color: black;
	padding-left: 0;
	padding-right: 0;
}
.modal-backdrop{
    opacity: 0.96 !important;
    background: #ff0084;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #33001b, #ff0084);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #33001b, #ff0084); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.name-image {
	margin-top: 12px;
}

/*-------------------------------------------------------------*/
.book {
	border: 9px solid white;
	margin-bottom: 15%;
}
.book-text, .book-image {
	background-color: white;
}
#book-head {
	font-weight: bold;
	font-size: 30px;
	line-height: 27px;
	color:  #E34A52;
	/*font-family: "anton", sans-serif;*/
	text-shadow: 0px 0px 0.5px black;
}
#events {
	font-style: italic;
	line-height: 1.4em;
	font-weight: bold;
	font-size: 20px;
	/*font-family: "anton", serif;*/
}
#link-blink {
	background: transparent;
    color: #F2F2F2;
}


/*-------------------------------------------------------------*/
.stay {
	color: #E34A52;
	font-weight: bold;
	font-style: italic;
	font-size: 14px;
	padding-right: 10px;
	padding-left: 0;
	padding-top: 15px;
}
.icons {
	background-color: white;
	width: 100%;
	margin: 0;
	padding: 15px;
	opacity: 0.8;
}

.fa {
	color: #E34A52;
	font-size: 25px;
	text-decoration: none;
	padding-top: 15px;
}
.fa:hover {
	color: black;
	text-decoration: none;
	transform: scale(1.5,1.5); 
	transition-timing-function: ease-in-out;
	transition: 0.5s;
}

/*-------------------------------------------------------------*/
.watch-video {
	border: 9px solid white;
	margin-bottom: 10%;
}
iframe {
	background-image: url('alt.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-color: black;
	background-position: center;
	/*z-index: -10;*/
}

/*-------------------------------------------------------------*/
.spacing {
	/*padding-left: 15px;*/
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 30px;
}
.jacky {
	padding-top: 10px;
}
.blinker {
	padding-right: 0px;
	padding-left: 0;
	padding-bottom: 20px;
	padding-top: 30px;
	cursor: pointer;
}
/*-------------------------------------------------------------*/